<h1>Bonjour, Veuillez confirmer votre email</h1>

<p>
    Veuillez confirmer votre email en cliquant sur le lien: <br><br>
    <a href="{{ signedUrl }}">Je confirme mon email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci
</p>
