{% extends 'base.html.twig' %}

{% block body %}
    <article>
        {{ form_start(media)}}

        {{ form_label(media.url) }}
        {{ form_widget(media.url) }}

        <button type="submit">Envoyer</button>

        {{ form_end(media) }}
    </article>
{% endblock %}