<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <title>{% block title %}spot On Studio{% endblock %}</title>
    </head>
    <body>
        {% for message in app.flashes('success') %}
            <article class="message">
                <p>{{ message }}</p>
            </article>
        {% endfor %}
        {% block body %}

        {% endblock %}
    </body>
</html>
