{% extends 'base.html.twig'%}
{% block body %}
    <a href="{{ path('app_register') }}">client! crée votre profil</a>
    <a href="{{ path('app_register_responsible_studio') }}">studio! crée votre profil et votre studio</a>
{% endblock %}
