{% extends 'base.html.twig'%}
{% block body %}
<section >
    <article class="bigImg d-flex justify-content-center align-items-center">
        <span>Repoussez les frontières de votre studio !</span>
    </article>
</section>
<section class="borderTop">
    <article>
        <div class="container-fluid pt-5">
            <div class="row justify-content-center">
                <div class="imgArticleLandingPage col-lg-4 d-lg-flex  justify-content-center align-items-center" >
                    <span>DIGITAL</span>
                </div>
                <div class="col-lg-4 p-lg-3">
                    <h2 class="p-2 ">Lancez-vous dans la digitalisation</h2>
                    <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam aut consequuntur dolores, modi molestias neque perferendis quo quod quos ratione rem totam vel. Consequuntur facilis ipsum nisi tempora temporibus!</p>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4 p-lg-3">
                    <h2 class="p-2 ">Créez votre communauté</h2>
                    <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam aut consequuntur dolores, modi molestias neque perferendis quo quod quos ratione rem totam vel. Consequuntur facilis ipsum nisi tempora temporibus!</p>
                </div>
                <div class="imgArticleLandingPage col-lg-4 d-lg-flex justify-content-center align-items-center" >
                    <span>COMMUNAUTE</span>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class=" imgArticleLandingPage col-lg-4 d-lg-flex justify-content-center align-items-center">
                    <span>ANALYSE</span>
                </div>
                <div class="col-lg-4 p-lg-3">
                    <h2 class="p-2 ">Ameliorez, Grandissez, Reussissez</h2>
                    <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam aut consequuntur dolores, modi molestias neque perferendis quo quod quos ratione rem totam vel. Consequuntur facilis ipsum nisi tempora temporibus!</p>
                </div>
            </div>
        </div>
    </article>
</section>

{% endblock %}
{% block javascripts %}

{% endblock %}
